.bg-image img{
  width: 12%;
  margin: 20px auto;
  display: block;
}

nav{
  width: 100%;
  height: 60px;
  background-color: rgba(240, 186, 186, 0.439);
  font-family: 'Dosis', sans-serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  position:relative;
  margin: 5px auto;
} 
nav ul li{
  float:left;
  list-style: none;
  padding: 10px 25px;

}
nav ul li{
  color:#240202;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; 
}
.active, li:hover{
  background-color: rgb(139, 235, 250);
  font-weight: bold;
}
nav ul{
width: 100%; 
max-width: 800px; 
margin: auto;

}
nav ul li a{
  color: #312727;
  flex: 2em;
  margin: auto;
}
* {
box-sizing:border-box;
}

div { 
  width: 300px;
  float:left;
  border: none;
  margin: 10px;
  padding: 20px;
  display: inline;
}
/* carui html ii corespunde acest stil css-randul de html??? nu il idetific.... */
   

.grid-container{
  display:grid;
  grid-template-columns: auto auto auto;
  background-color: none;
  margin-left: 50px;
  margin-top:  30px auto; 
  padding: 2px;
  outline-offset: 10px;
  outline-color: #370606;
  column-gap: 5px;
  }
.grid-items{
background-color:rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0 0 0 0,8);
padding: 5px;
float: left;
}
.grid-item img{
  width: 60%;
  height: 400px;
  margin: 15px;
  padding: 2px;
  top: 50px;
  z-index: -1;
}


  .header div img {
    width: 100%;
    max-width: 180px;
    background-color: none;
  }


nav{
    width: 100%;
    height: 60px;
    background-color: rgba(240, 186, 186, 0.439);
    font-family: 'Dosis', sans-serif;
    font-family: 'PT Serif', serif !important;
  }
nav ul li{
    float:left;
    list-style: none;
    padding: 10px 25px;
}
nav ul li{
    color:#240202;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
 }
.active, li:hover{
    background-color: rgb(139, 235, 250);
    font-weight: bold;
}
nav ul{
  width: 100%; 
  max-width: 800px; 
  margin: auto;
  
}
nav ul li a{
    color: #312727;
    flex: 2em;
    margin: auto;
}
* {
  box-sizing:border-box;
  box-shadow: 30px #101010;
}

#demo .bg-gray {
    background-color: #fbfbfb;
    width: 20%;
    max-width: fit-content;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 57px;
  }
  .section-title .subtitle {
    font-size: 20px;
    font-weight: 600;
    color: #197beb;
    line-height: 26px;
    display: block;
  }
  .section-title .title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 18px;
    font-weight: 700;
  }
  .section-title p {
    font-size: 16px;
    color: #818181;
    max-width: 720px;
    margin: 0 auto;
  }
  
  .video-tutorial {
    padding: 110px 0 0 0;
  }
  .video-tutorial .demo-wrapper {
    margin-bottom: 40px;
  }
  .video-tutorial .demo-wrapper .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }
  
  .price-plan-wrapper {
    padding: 0 0 60px 0;
    width: auto;
  }
  .pricing-table-6 {
    text-align: center;
    padding: 38px 0 40px;
    transition: 0.3s ease-in;
    position: relative;
    z-index: 0;
    background-color: #4d6de6;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 30px;
    width: 20%;
    display: inline-block;
  }
  .pricing-table-6.bg-orange {
    background-color: #f06031;
  }
  .pricing-table-6 .price-header .title {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 35px;
  }
  .pricing-table-6 .price-header .icon {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    color: #197beb;
    transition: 0.3s ease-in;
  }
  .pricing-table-6 .price-header .price {
    font-size: 62px;
    line-height: 60px;
    color: #282828;
    font-weight: 800;
    margin-bottom: 25px;
    transition: 0.3s ease-in;
    text-align: left;
    padding-left: 40px;
    position: relative;
    padding: 20px 0 20px 60px;
    z-index: 0;
    
  }
  .pricing-table-6 .price-header .price:after {
    position: absolute;
    left: -20%;
    top: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    content: "";
    height: 100%;
    transform: skewX(-35deg);
    z-index: -1;
  }
  .pricing-table-6 .price-header .price .dollar {
    font-size: 33px;
    line-height: 33px;
    position: relative;
    top: -12px;
  }
  .pricing-table-6 .price-header .price .month {
    font-size: 22px;
    line-height: 23px;
  }
  .pricing-table-6 .price-footer {
    margin-top: 40px;
  }
  .pricing-table-6 .price-footer .order-btn {
    display: inline-block;
    width: 165px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 25px;
    color: #282828;
    transition: 0.5s ease-in;
    font-weight: 600;
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  .pricing-table-6 .price-footer .order-btn:hover {
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.35);
    background-color: #333;
    color: #fff;
  }
  .pricing-table-6 .price-body ul {
    margin: 0;
    padding: 0;
  }
  .pricing-table-6 .price-body ul li {
    list-style: none;
    display: block;
    color: #e5e5e5;
    margin: 27px 0;
    transition: 0.3s ease-in;
  }
  .pricing-table-6 .price-body ul li:first-child {
    margin-top: 0;
  }
  .pricing-table-6 .price-body ul li:last-child {
    margin-bottom: 0;
  } 