.bg-image img{
  width:100px;
  margin: 20px auto;
  display: block;
}

nav{
    width: 100%;
    height: 60px;
    background-color: rgb(240, 186, 186);
    font-family: 'Dosis', sans-serif;
    font-family: 'PT Serif', serif !important;
}
nav ul li{
    float:left;
    
    list-style: none;
    padding: 10px 25px;

}
nav ul li{
    color:#240202;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
}
.active, li:hover{
    background-color: rgb(139, 235, 250);
    font-weight: bold;
}
nav ul{
  width: 100%; 
  max-width: 800px; 
  margin: auto;
  
}
nav ul li a{
    color: #312727;
    flex: 2em;
}
* {
  box-sizing:border-box;
}

body div section img {
  width: 100%;
  max-width: 1400 px;
  background-color: none;
}

 section  div {
  width: 100%;
  font-size: 28px ; 
  color: #370606 ;
  font-family: fantasy;
 }

 div section img {
  width: 100%;
  max-width: 180px;
  background-color: none;
}

 section div ul li {
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#370606 
}
div img {
  width: 100%;
  max-width: 1400;
  float:left
  border 25px auto;
  border-radius: 25px;
  padding: 25px;
  padding-block: 10px;
}
    
div section{
  width: 50%;

  
}

